* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: rgb(209, 235, 207);
  color: #333;
  padding: 20px;
  
}

h1 {
  border: 10px;
  border-radius: 0px;
  background-color: rgb(80, 99, 185);
  box-shadow: 0 6px 20px rgb(46, 32, 20);
  padding: 10px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.animal-list {
  width: 250px;
}

.animal-list button {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  background: lightblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.animal-list button:hover {
  background: #005fa3;
}

.animal-details {
  max-width: 300px;
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.animal-details img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.vote-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.vote-box button {
  background: #0618bb;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.vote-box button:hover {
  background: #005fa3;
}

.vote-box .votes {
  font-weight: bold;
  color: #02518a;
}
.p{
  margin: 20px;
}